<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>联系人</title>
    <style type="text/css">
        ul{
            font-size:20px;
            color:black;
            /* background:613030; */
            height:22px;
            width:2000px;
         }
         a{
            font-size:20px;
            color:red;
            /* background:87CEFA; */
            height:60px;
            width:500px;
         }

    </style>
</head>
<body bgcolor="ADD8E6">

<table border="1">
<table align="center" valign="center">
        <tbody>
            <tr>
                <td><a href="{{url_for('delstu')}}">删除联系人信息</a></td>
            </tr>
            <tr>
                <td><a href="{{url_for('addstu')}}">增加联系人信息</a></td>
            </tr>
            <tr>
                <td><a href="{{url_for('altstu')}}">修改联系人信息</a></td>
            </tr>
            <tr>
                <td><a href="{{url_for('searchstu')}}">查找联系人信息</a></td>
            </tr>
        </tbody>
</table>
</br>
<table border="2">
<thead>
    <tr>    
        <th>姓名</th>  
        <th>学号</th>
        <th>手机号</th>
        <th>邮箱</th>
    </tr>
</thead>
<tbody>
        {% for i in student %}
                        <tr>
                            <td>{{ i[0] }}</td>
                            <td>{{ i[1] }}</td>
                            <td>{{ i[2] }}</td>
                            <td>{{ i[3] }}</td>
                        </tr>
             {% endfor %}
</tbody>
</table>
</body>
</html>
